@import url('https://fonts.googleapis.com/css2?family=Gotu&family=McLaren&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(215, 220, 246);
  font-family: "Gotu", serif;
}

.top {
  background-color: rgba(102, 212, 96, 0.738);
  width: 340px;
  font-size: 60px;
}

.Cards {
  display: flex;
}

.card {
  background-color: white;
  box-shadow: 0 4px 5px #ccc;
  width: 300px;
  height: 300px;
  padding: 20px;
  margin-top: 80px;
}

.card h2 {
  font-size: 48px;
  text-align: center;
}

.card h3 {
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
  color: rgba(102, 212, 96, 0.738);
}

.card p {
  font-size: 15px;
}