* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: rgb(240, 220, 240);
}

.heading{
  text-align: center;
  font-size: 2em;
  color: #2d3436;
  margin: 20px 0 30px;
}

.name{
  font-size: 2em;
  color: #2d3436;
  display: flex;
  flex: 1;
  margin: 10% 20px 0;
}

.card img{
  margin: 30px 20px 0 0;
}

.circle-img{
  border-radius: 50%;
  border: 7px solid #fff;
  width: 120px;
  height: 120px;
}

.card {
  margin: 50px  0;
  border-radius: 25px;
  position: relative;
  padding: 25px 25px;
  background-color: #81ecec;
  width: 500px;
  height: 200px;
  box-shadow: 0 2px 5px #ccc;
  text-align: left;
}

.info{
  margin: 20px 0;
  color: #1a7e76;
}