<%- include('partials/header.ejs') %>

<div class="container">
  <div class="small-container">
    <div class="each-element">
      <input type="text">
      <button>✔️</button>
      <button>✖️</button>
    </div>
    <div class="To-doList">
      <ul>
        <li>jkfhkjsdhfkjsdhfkjsd</li>
      </ul>
      <ul>
        <li>jkfhkjsdhfkjsdhfkjsd</li>
      </ul>
      <ul>
        <li>jkfhkjsdhfkjsdhfkjsd</li>
      </ul>
      <ul>
        <li>jkfhkjsdhfkjsdhfkjsd</li>
      </ul>
      <ul>
        <li>jkfhkjsdhfkjsdhfkjsd</li>
      </ul>
      <ul>
        <li>jkfhkjsdhfkjsdhfkjsd</li>
      </ul>
    </div>
  </div>
</div>




<%- include('partials/footer.ejs') %>